body {
  background-color: #700000;
}

.jumbotron {
  background-color: #FFFF99;
}

.black-text {
  color: #330000;
}

.copyright {
  color: #FFFFFF;
  text-align: right;
  padding-right: 2px;
}

.center-header-text {
  text-align: center;
}

.bigger-text {
  font-size: 150%
}

.border {
  border-right: 1px solid black;
}

.darken {
  transition: all 0.3s ease 0s;
}

.darken:hover {
  background: #FF6666;
}